
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Montserrat ;
}
body{
    /* background-color: black;
     */
     transition: 0.5s;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30rem;
    padding: 10px;
    background-color: white;
    border-radius: 14px;
    font-size: 25px;
    text-align: center;

}
button{
    margin-top: 5px;
    color: white;
    background-color:rgb(222, 198, 198);
    width: 100%;
    display: block;
    font-size: 25px;
    border-radius: 10px;
}